[package]
name = "jgenesis-gui"
version = "0.8.4"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gb-core = { path = "../../backend/gb-core", features = ["serde"] }
genesis-core = { path = "../../backend/genesis-core", features = ["serde"] }
nes-core = { path = "../../backend/nes-core", features = ["serde"] }
s32x-core = { path = "../../backend/s32x-core", features = ["serde"] }
segacd-core = { path = "../../backend/segacd-core" }
smsgg-core = { path = "../../backend/smsgg-core", features = ["serde"] }
snes-core = { path = "../../backend/snes-core", features = ["serde"] }

jgenesis-common = { path = "../../common/jgenesis-common", features = ["serde"] }
jgenesis-native-config = { path = "../jgenesis-native-config"}
jgenesis-native-driver = { path = "../jgenesis-native-driver" }
jgenesis-proc-macros = { path = "../../common/jgenesis-proc-macros" }
jgenesis-renderer = { path = "../jgenesis-renderer" }
egui-sdl2-platform = { path = "../egui-sdl2-platform" }

anyhow = { workspace = true }
clap = { workspace = true }
eframe = { workspace = true }
egui = { workspace = true }
egui_extras = { workspace = true }
egui-wgpu = { workspace = true }
env_logger = { workspace = true }
log = { workspace = true, features = ["release_max_level_info"] }
pollster = { workspace = true }
regex = { workspace = true }
rfd = { workspace = true }
sdl2 = { workspace = true }
time = { workspace = true, features = ["formatting", "local-offset"] }
toml = { workspace = true }
wgpu = { workspace = true }

[target.'cfg(all(unix, not(target_os = "macos")))'.dependencies]
xrandr = { workspace = true }

[package.metadata.packager]
icons = ["../32x32.png"]
before-packaging-command = """
RUSTFLAGS='-C target-cpu=x86-64-v2' \
JGENESIS_APPIMAGE_BUILD=1 \
cargo build --profile release-lto"""

[package.metadata.packager.appimage]
# Including any Wayland-related libraries in the AppImage package can cause the app to fail to start on some distros,
# such as Solus Plasma; having mismatched Wayland library versions seems to cause wgpu to fail to load graphics libraries
excludedLibs = ["libwayland*"]

[lints]
workspace = true
