[package]
name = "jgenesis-cli"
version = "0.7.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gb-core = { path = "../../backend/gb-core" }
genesis-core = { path = "../../backend/genesis-core" }
nes-core = { path = "../../backend/nes-core" }
smsgg-core = { path = "../../backend/smsgg-core" }
snes-core = { path = "../../backend/snes-core" }

jgenesis-common = { path = "../../jgenesis-common" }
jgenesis-native-config = { path = "../jgenesis-native-config" }
jgenesis-native-driver = { path = "../jgenesis-native-driver" }
jgenesis-proc-macros = { path = "../../jgenesis-proc-macros" }
jgenesis-renderer = { path = "../jgenesis-renderer" }

anyhow = { workspace = true }
clap = { workspace = true }
env_logger = { workspace = true }
log = { workspace = true, features = ["release_max_level_info"] }
toml = { workspace = true }

[package.metadata.packager]
icons = ["../32x32.png"]
before-packaging-command = """
RUSTFLAGS='-C target-cpu=x86-64-v2' \
JGENESIS_APPIMAGE_BUILD=1 \
cargo build --profile release-lto"""

[lints]
workspace = true
