[package]
name = "snes-coprocessors"
version = "0.6.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
jgenesis-common = { path = "../../jgenesis-common" }
jgenesis-proc-macros = { path = "../../jgenesis-proc-macros" }
wdc65816-emu = { path = "../../cpu/wdc65816-emu" }

bincode = { workspace = true }
bytemuck = { workspace = true }
cfg-if = { workspace = true }
log = { workspace = true }
time = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = { workspace = true }

[lints]
workspace = true
