[package]
name = "jgenesis-native-config"
version = "0.8.3"
edition = "2021"

[features]
default = []
clap = ["dep:clap"]

[dependencies]
gb-core = { path = "../../backend/gb-core", features = ["serde"] }
genesis-core = { path = "../../backend/genesis-core", features = ["serde"] }
nes-core = { path = "../../backend/nes-core", features = ["serde"] }
s32x-core = { path = "../../backend/s32x-core", features = ["serde"] }
segacd-core = { path = "../../backend/segacd-core", features = ["serde"] }
smsgg-core = { path = "../../backend/smsgg-core", features = ["serde"] }
snes-core = { path = "../../backend/snes-core", features = ["serde"] }

jgenesis-common = { path = "../../common/jgenesis-common", features = ["serde"] }
jgenesis-native-driver = { path = "../jgenesis-native-driver" }
jgenesis-proc-macros = { path = "../../common/jgenesis-proc-macros" }
jgenesis-renderer = { path = "../jgenesis-renderer" }

cfg-if = { workspace = true }
clap = { workspace = true, optional = true }
directories = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
toml = { workspace = true }

[lints]
workspace = true
