[package]
name = "jgenesis-web"
version = "0.6.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[target.'cfg(target_arch = "wasm32")'.dependencies]
genesis-core = { path = "../../backend/genesis-core" }
smsgg-core = { path = "../../backend/smsgg-core" }
snes-core = { path = "../../backend/snes-core" }

jgenesis-common = { path = "../../jgenesis-common" }
jgenesis-proc-macros = { path = "../../jgenesis-proc-macros" }
jgenesis-renderer = { path = "../jgenesis-renderer" }

anyhow = { workspace = true }
base64 = { workspace = true }
console_error_panic_hook = "0.1"
console_log = "1"
getrandom = { version = "0.2", features = ["js"] }
js-sys = { workspace = true }
log = { workspace = true, features = ["release_max_level_info"] }
rand = { workspace = true }
rfd = { workspace = true }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
wgpu = { workspace = true, features = ["webgl"] }
winit = { version = "0.28" }

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3"
features = [
    "Window",
    "Document",
    "Element",
    "AudioContext",
    "AudioContextOptions",
    "AudioWorklet",
    "AudioWorkletNode",
    "AudioWorkletNodeOptions",
    "AudioDestinationNode",
    "ChannelCountMode",
    "Performance",
]

[lints]
workspace = true
