[package]
name = "jgenesis-web"
version = "0.7.1"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[target.'cfg(target_arch = "wasm32")'.dependencies]
gba-core = { path = "../../backend/gba-core" }
genesis-core = { path = "../../backend/genesis-core" }
s32x-core = { path = "../../backend/s32x-core" }
segacd-core = { path = "../../backend/segacd-core" }
smsgg-core = { path = "../../backend/smsgg-core" }
snes-core = { path = "../../backend/snes-core" }

gba-config = { path = "../../config/gba-config", features = ["serde"] }
genesis-config = { path = "../../config/genesis-config", features = ["serde"] }
smsgg-config = { path = "../../config/smsgg-config", features = ["serde"] }
snes-config = { path = "../../config/snes-config", features = ["serde"] }

jgenesis-common = { path = "../../common/jgenesis-common", features = ["serde"] }
jgenesis-proc-macros = { path = "../../common/jgenesis-proc-macros" }
jgenesis-renderer = { path = "../jgenesis-renderer", features = ["serde"] }

anyhow = { workspace = true }
bincode = { workspace = true }
console_error_panic_hook = { workspace = true }
console_log = { workspace = true }
getrandom = { workspace = true, features = ["wasm_js"] }
js-sys = { workspace = true }
log = { workspace = true, features = ["release_max_level_info"] }
rand = { workspace = true }
rfd = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = { workspace = true }
web-time = { workspace = true }
wgpu = { workspace = true, features = ["webgl"] }
winit = { workspace = true, features = ["serde"] }

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3"
features = [
    "Window",
    "Document",
    "Element",
    "AudioContext",
    "AudioContextOptions",
    "AudioWorklet",
    "AudioWorkletNode",
    "AudioWorkletNodeOptions",
    "AudioDestinationNode",
    "ChannelCountMode",
    "Performance",
]

[lints]
workspace = true
