name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install latest stable Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install latest nightly Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        components: rustfmt

    - name: Install system library dependencies
      run: |
        sudo apt update && sudo apt install -y libsdl2-dev libgtk-3-dev

    - name: Check formatting
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        toolchain: nightly
        args: --check

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build

    - name: Install cranky
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: cargo-cranky

    - name: Check Clippy warnings
      uses: actions-rs/cargo@v1
      with:
        command: cranky
        args: -- -D warnings

    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
